boto3
langchain
langchain-community
langchain-aws
langchain-core
langchain-text-splitters
langgraph
faiss-cpu
pandas
streamlit
python-dotenv
fastapi
uvicorn
mangum
python-multipart
pydantic
twilio
torchvision